<div class="search-container">
    <div class="search-logo-div">
        <p>Pretraga Kvizova</p>
    </div>

    <div class="search-bar-div">
        <input type="text" id="pretraga-kvizova" maxlength="30" minlength="3"/>
    </div>
</div>