<Quizsearch/>

<div class="quiz-grid">
    {{#each @this.model.data as |elem|}}
    <Quiz @src={{elem.src}} @title={{elem.title}} @route={{elem.route}} />
{{/each}}

</div>      

<script>
        let quizes = document.querySelectorAll('.quiz');
        
        for(let i = 0; i < quizes.length; i++) {
            let rand = Math.floor(Math.random()*(35-20)+1)+20;
            quizes[i].style.width = rand + "%";
            quizes[i].style.height = rand + "%";
        }

        function liveSearch() {
            let search_query = document.getElementById("pretraga-kvizova").value;
            
            for (var i = 0; i < quizes.length; i++) {
                if(quizes[i].innerText.toLowerCase()
                        .includes(search_query.toLowerCase())) {
                    quizes[i].classList.remove("is-hidden");
                    document.querySelector('.quiz-grid').style.alignItems = 'flex-start';
                } else {
                    quizes[i].classList.add("is-hidden");
                }
            }
        }

        let searchInput = document.getElementById('pretraga-kvizova');

        searchInput.addEventListener('keyup', liveSearch);

</script>